.searchContainer {
    margin-bottom: 10%
}

.cardImage {
    position: relative;
    width: 25%;
    z-index: 1
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.cardPower {
    position: relative;
    z-index: 2;
    font-size: 200%;
    color: rgb(24, 6, 6)
}