.startNextRound {

}

button {
    background: linear-gradient(135deg, #5b2e91, #00c6ff);
    border-radius: 12px;
    border: 2px solid #ff6f91;
    color: white;
    font-family: 'YourFancyFont', sans-serif;
    padding: 10px 20px;
    text-align: center;
    position: relative;
    transition: all 0.3s ease;
}

.roundWord, .roundNumber {
    background: linear-gradient(135deg, #5b2e91, #00c6ff);
    border-radius: 12px;
    border: 2px solid #ff6f91;
    color: white;
    font-family: 'YourFancyFont', sans-serif;
    padding: 10px 20px;
    text-align: center;
    position: relative;
    transition: all 0.3s ease;
    width: 10%;
    left: 43.7%;
   
}

.summonRuleText {
    background: linear-gradient(135deg, #5b2e91, #00c6ff);
    border-radius: 12px;
    border: 2px solid #ff6f91;
    color: white;
    font-family: 'YourFancyFont', sans-serif;
    padding: 5px 10px;
    text-align: center;
    position: relative;
    transition: all 0.3s ease;
    width: 40%;
    margin-bottom: .2%
}

.roundRuleText {
    background: linear-gradient(135deg, #5b2e91, #00c6ff);
    border-radius: 12px;
    border: 2px solid #ff6f91;
    color: white;
    font-family: 'YourFancyFont', sans-serif;
    padding: 5px 10px;
    text-align: center;
    position: relative;
    transition: all 0.3s ease;
    width: 40%;
    margin-bottom: .2%;
    margin-top: -3%;
    left: 58.5%
}

button:hover {
    box-shadow: 0 0 20px rgba(255, 111, 145, 0.8);
    transform: scale(1.05);
}

body {
    background-image: url("https://scitechdaily.com/images/Black-Hole-Event-Horizon-Artistic-Illustration.jpg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

.searchContainer {
    position: relative; 
    color: white;
    border: 6px solid #bdbaba;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.searchContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.searchContainer > * {
    position: relative; 
    z-index: 2; 
}

.onePieceCont {
    background-image: url("https://wallpapers.com/images/hd/one-piece-logo-blue-cd4zqcg7h19uxoc2.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
.myHeroAcaCon {
    background-image: url("https://images7.alphacoders.com/124/1246338.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
.blueLockCon {
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/890d1d59-2f1f-458f-850d-bbfe4c88fb26/dfo5p9r-35ca2e2d-f5b9-498e-a6b5-ece0c49c7ae8.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzg5MGQxZDU5LTJmMWYtNDU4Zi04NTBkLWJiZmU0Yzg4ZmIyNlwvZGZvNXA5ci0zNWNhMmUyZC1mNWI5LTQ5OGUtYTZiNS1lY2UwYzQ5YzdhZTgucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.T0hNwqBNH-Vqv5j7DQAMO__PnrR0ewC5v6hHgN0X7W4");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
.reZeroCon {
    background-image: url("https://frogkun.com/wp-content/uploads/2020/10/rezeros.jpg?w=1000");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
.fMACont {
    background-image: url("https://e0.pxfuel.com/wallpapers/671/891/desktop-wallpaper-fullmetal-alchemist-full-metal-alchemist-fma.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
.riseSHCon {
    background-image: url("https://wallpapers.com/images/featured/the-rising-of-the-shield-hero-background-be6ojr8cb6sbez35.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
.tOGCon {
    background-image: url("https://wallpapers.com/images/hd/twentieth-floor-challenge-tower-of-god-gv50cg7in8kmd67y.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
.juJuKaiCon {
    background-image: url("https://4kwallpapers.com/images/wallpapers/jujutsu-kaisen-5120x2880-13768.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
.demonSlayerCon {
    background-image: url("https://4kwallpapers.com/images/wallpapers/tanjiro-kamado-2560x2560-9316.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

h1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(40, 0, 70, 0.3);
    z-index: 1;
}

h1 {
    background: linear-gradient(to right, purple, darkblue teal);
    text-align: center; 
    font-size: 3em; 
    font-family: 'Anime Ace', cursive; 
    color: #000000; 
    text-shadow: 
        2px 2px 0 rgba(15, 25, 170, 0.7), 
        3px 3px 0 rgba(0, 217, 255, 0.8); 
    background: linear-gradient(135deg, #4deeb0, #808080); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    padding: 10px; 
    border: 5px solid rgba(500, 20, 120, 0.6) ; 
    border-radius: 50px; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 1); 
    margin: 20px 0;
    position: relative; 
    z-index: 2; 
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 0% 10px;
}

.players {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.wincounter {
    background-color: rgba(1, 1, 1, 0.8);
    color: white;
    font-family: 'Anime Ace', sans-serif; 
    font-weight: bold; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); 
    padding: 10px;
    border-radius: 8px; 
    border: 4px solid rgba(250, 215, 0, 0.9); 
}

.wincounter:hover {
    background-color: rgba(255, 215, 0, 0.9); 
    color: black; 
}

.dice {
    width: 60px; 
    height: 60px;
    background-color: white; 
    border: 3px solid #333; 
    border-radius: 10%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
    cursor: pointer; 
    transition: transform 0.2s ease; 
    padding: 20% 0%
}


/* This is how my dice button blinks when clicked */
@keyframes roll {
    0% { transform: rotateX(0) rotateY(0); }
    25% { transform: rotateX(360deg); }
    50% { transform: rotateY(360deg); }
    75% { transform: rotateX(360deg); }
    100% { transform: rotateY(0); }
}

.player {
    background-color: rgba(1, 1, 1, 0.8);
    display: flex;
    flex-direction: row;
    padding: 35px 25px 35px 25px;
    border: 6px solid #ccc;
    position: relative;
    width: 45%;
}

.leftContent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    border: 6px solid #ccc;
    height: 100px;
    padding: 10% 10%;
    margin-right: 15%;
    background-image: url("https://image.cdn2.seaart.ai/2023-09-23/17985440937177093/2a0fe01469ac8a187ee97913cee1ccbf143db9da_high.webp");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

.card {
    position: relative;
    width: 300px;
    height: 400px;
    padding: 20px;
    background: linear-gradient(45deg, #c0c0c0, #e6e6e6, #ffffff, #e6e6e6, #c0c0c0);
    border: 2px solid #333;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardPower {
    position: absolute;
    top: -8%;
    left: 10%;
    right: 10%;
    font-size: 200%;
    color: rgb(255, 255, 255);
    background: rgb(24, 6, 6);
    border-radius: 70%;
    border: 2px solid #3f0ccc;
    text-align: center;
    padding: 10px 0;
}

.cardImage {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    height: 60%;
    width: 80%;
    background: linear-gradient(45deg, #c8a94a, #b89e3e, #a68c29, #8b6814);
    object-fit: cover;
    border: 3px solid #b80d0d;
}

.cardName {
    position: absolute;
    bottom: -5%;
    left: 10%;
    right: 10%;
    color: white;
    background: rgb(24, 6, 6);
    font-size: 150%;
    text-align: center;
    border: 2px solid #8f0ccc;
    padding: 5px 0;
}

.cardAbility {
    position: absolute;
    bottom: 8%;
    left: 10%;
    right: 10%;
    font-size: 100%;
    color: white;
    background: rgb(24, 6, 6);
    border: 2px solid linear-gradient(45deg, #cd7f32, #b76e3f, #8c5d32, #4e3c26);
    text-align: center;
    padding: 30px 0;
}


.roundCounter {
    margin: 10px 0;
    text-align: center
}


#allSearchBars {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}


@media screen and (max-width: 1400px) and (min-width: 400px) {
    body {
        background-image: url("https://cdn.mos.cms.futurecdn.net/HsDtpFEHbDpae6wBuW5wQo.jpg");
        background-size: cover; 
        background-position: center;
        background-repeat: no-repeat;
    }

    .player {
        flex-direction: column;
        align-items: center;
        padding-bottom: 10%
    }

    .leftContent {
        width: 50%;
        align-items: center;
        position: relative;
        right: -7.5%;
    }
    .dice {
      padding: 10% 10%;
      margin-right: 90%
    }
    .leftContent {
        bottom: 3%
    }
    .card {
        top: 4%
    }
    .roundRuleText {
        margin-top: -9%;
        left: 55%
    }
}

@media screen and (min-width: 400px) and (max-width: 800px) {
    body {
        background-image: url("https://img.stablecog.com/insecure/1920w/aHR0cHM6Ly9iLnN0YWJsZWNvZy5jb20vODY2NTY2MWYtOTk2Mi00YmFmLTgwYjktZDZjNWExYWM3NmJlLmpwZWc.webp");
        background-size: cover; 
        background-position: center;
        background-repeat: no-repeat;
    }

    .players {
        flex-direction: column;
        align-items: center;
    }

    .player {
        flex-direction: column;
        align-items: center;
        padding: 40px 17%; /* Increased vertical padding */
        justify-content: space-evenly;
    }

    .leftContent {
        width: 60%;
        align-items: center;
        position: relative;
        right: -7.5%;
        width: 90%;
    }

    #allSearchBars {
        flex-direction: column; 
    }
    .roundRuleText {
        margin-top: -27%;
        left: 55%
    }
}






/* third of the size
@media screen and (max-width: 400px) {
    body {
        background-color: rgb(135, 250, 192)
    }
} */